* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.Italianno {
  font-family: "Italianno", cursive;
}

.CormorantUP {
  font-family: "Cormorant Upright", serif;
}

/* -------------------------
   NAVIGATION + HERO
-------------------------- */

#navigation {
  background-color: rgba(255, 174, 211, 0.5);
  text-align: center;
  padding: 0;
}

#navigation h1 {
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  padding: 5px 0;
}


.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 0;
  margin: 0;
  list-style: none;
}

.navbar a {
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
}
#heading{
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 120px;
  line-height: 0.7;
}
p{
  text-align: center;
  padding-bottom: 40px;
}
.insta{
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}