body {
    background-image: url(Assets/story.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* or 'cover' if you want it to fill the screen */
}
.TEXTSS{
color: aliceblue;
text-align: center;
}
#navigation {
  background-color: rgba(255, 174, 211, 0.5);
  text-align: center;
  padding: 0;   /* don’t add extra padding */
}
#navigation h1 {
  font-size: 50px;     /* smaller text, if you want */
  color: #ffffff;
  line-height: 1.2;    /* instead of 200% */
  margin: 0;           /* remove default h1 margin */
  padding: 5px 0;      /* control thickness manually */
}

body{
    margin: 0%;
    padding: 0%;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul {
  display: flex;
  justify-content: center; /* this is what centers them horizontally */
}

.navbar a {
  font-size: large;
  text-decoration: none;  /* removes underline */
  color: white;           /* text color */
  padding: 10px 20px;     /* gives clickable area */
  display: block;         /* makes padding work fully */
}
.bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bar ul {
  display: flex;
  justify-content: center; /* this is what centers them horizontally */
}

#CormorantUp{
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}
#Italianno{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
#Cormorant_italics{
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style:italic;
}
#parent{
  display: grid;
  place-items: center;
}
.TEXTSS h3 {
  font-size: 30px;
}
#icon {
  display: grid;
  place-items: center;
}
#top .TEXTSS{
  font-size: 40px;
}
#hr{
  top: 100px;
}